* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'arial', sans-serif;
}

body {
  background-color: #8515e7;
  color: #333;
}

.contact-container {
  display: flex;
  justify-content: center;
  align-items: left;
  height: 100vh;
  padding: 20px;
}

.contact-info {
  background-color: #007bffb0;
  color: #fff;
  padding: 30px;
  border-radius: 10px 0 0 10px;
  width: 35%;
}

.contact-info h2 {
  font-size: 28px;
  margin-bottom: 15px;
}

.contact-info p {
  font-size: 16px;
  margin-bottom: 20px;
}

.contact-info .contact-details {
  list-style: none;
}

.contact-info .contact-details li {
  font-size: 16px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.contact-info .contact-details li i {
  margin-right: 10px;
}

.contact-form {
  background-color: #fff;
  padding: 30px;
  border-radius: 0 10px 10px 0;
  width: 50%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.contact-form h3 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #007bff;
}

.contact-form input, .contact-form textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}

.contact-form textarea {
  resize: none;
}

.contact-form button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 15px 30px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: #0056b3;
}
